$power-meter-base: #44ca16;
$power-meter-level: #e3e04c;
$power-up-button: #f6456c;

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.main,
.footer {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
}

.main {
  display: flex;
  align-items: center;
}

.power,
.reader {
  flex-grow: 0;
}

.power {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.powerMeter {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  max-width: 5em;
  height: 24em;
  background-color: $power-meter-base;
}

.powerMeterLevel {
  display: block;
  width: 100%;
  height: 40%;
  background-color: $power-meter-level;
}

.powerMeterIncrement {

  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: darken($power-meter-base, 10);

  &[data-power-active="true"] {
    background-color: darken($power-meter-level, 18);
  }

}

.reader {
  width: 60%;
}

.readerLevel {

  display: flex;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.5em;
  background-color: $power-meter-level;

  margin: 0;

  span {
    display: block;
    flex-grow: 1;
    border: solid 3px darken($power-meter-base, 20);
    border-right: none;
    padding: .8em 1em;
  }

  button {
    display: block;
    font-size: .7em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $power-up-button;
    padding: .8em 1.8em;
    border: solid 3px darken($power-up-button, 20);
    cursor: pointer;
  }

}

.readerImage {

  position: relative;

  aspect-ratio: 960 / 540;
  margin: 0;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #eeeeee;
  }

}

.footer {

  padding: 2em 0 1em;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40em;
    margin: 0 auto;
  }

  p {
    font-size: .9em;
    margin-top: .5em;
  }

}